      <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css">
      <link rel="stylesheet" href="/css/404.min.css" type="text/css">

   </head>

	<body>
      <div class="messages">
         <div class="number">404</div>
         <div class="line">|</div>
         <div class="text">Page Not Found</div>
      </div>

      <script src="/jquery/jquery.min.js"></script>
      <script src="/bootstrap/js/popper.min.js"></script>
      <script src="/bootstrap/js/bootstrap.min.js"></script>
      <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

      <script>
         {{> notifications}}
      </script>