      <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css">
      <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css" type="text/css">
      <link rel="stylesheet" href="/datatable/datatables.min.css" type="text/css">
      <link rel="stylesheet" href="/datatable/DataTables/css/dataTables.bootstrap5.min.css" type="text/css">
      <link rel="stylesheet" href="/css/navbar.min.css" type="text/css">
      <link rel="stylesheet" href="/css/users.min.css" type="text/css">

   </head>

	<body>
      {{> navbar}}

      <div class="container">
         <div class="row">
            <div class="col-md-8 mx-auto">
               {{> notifications}}
            </div>
         </div>

         <div class="row">
            <div class="col-md-12 text-center">
               <div class="lettersTittle">
                  USUARIOS
               </div>
            </div>
         </div>

         <div class="row mb-4">
            <div class="col-md-12">
               <button type="button" class="btn btn-outline-success btn-sm btnGeneral" onclick="openModalRegister();">
                  <i class="fa-regular fa-address-book"></i> &nbsp;
                  Añadir
               </button>
            </div>
         </div>

         <div class="row">
            <div class="col-md-12">
               <table id="listUsers" class="table is-striped table-striped table-bordered table-sm">
                  <thead class="table-info">
                     <tr>
                        <th nowrap scope="col">Cédula</th>
                        <th nowrap scope="col">Nombres Completos</th>
                        <th nowrap scope="col">Fech. Nacimiento</th>
                        <th nowrap scope="col">Género</th>
                        <th nowrap scope="col">Dirección</th>
                        <th nowrap scope="col">Teléfono</th>
                        <th nowrap scope="col">Email</th>
                        <th nowrap scope="col">Acciones</th>
                     </tr>
                  </thead>
                  
               </table>
            </div>
         </div>
      </div>

      <script src="/jquery/jquery.min.js"></script>
      <script src="/bootstrap/js/popper.min.js"></script>
      <script src="/bootstrap/js/bootstrap.min.js"></script>
      <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/sweetalert2/sweetalert2.min.js"></script>
      <script src="/fontawesome/all.min.js"></script>
      <script src="/datatable/datatables.min.js"></script>
      <script src="/datatable/DataTables/js/jquery.dataTables.js"></script>
      <script src="/datatable/DataTables/js/dataTables.bootstrap5.min.js"></script>
      <script src="/js/navbar.min.js"></script>

      <div class="modal fade" id="modalRegister" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header d-flex justify-content-center">
                  <div class="modal-title tittleModal">CREAR CUENTA</div>
               </div>

               <div class="modal-body">
                  <div class="row">
                     <div class="col-md-12 mb-2">
                        <label for="" class="form-label lblLogin">Cédula</label>
                        <input type="text" class="form-control iptLogin" id="cedula" maxlength="10" placeholder="Ingrese su cédula"/>
                     </div>
                     <div class="col-md-12 mb-2">
                        <label for="" class="form-label lblLogin">Apellidos</label>
                        <input type="text" class="form-control iptLogin" id="apellidos"  placeholder="Ingrese su apellido"/>
                     </div>
                     <div class="col-md-12 mb-2">
                        <label for="" class="form-label lblLogin">Nombres</label>
                        <input type="text" class="form-control iptLogin" id="nombres"  placeholder="Ingrese su nombre"/>
                     </div>
                     <div class="col-md-12 mb-2">
                        <label for="" class="form-label lblLogin">Fecha de Nacimiento</label>
                        <input type="date" class="form-control iptLogin" id="fechaNacimiento"  placeholder="Escoja su fecha de nacimiento"/>
                     </div>
                     <div class="col-md-12 mb-2">
                        <label for="" class="form-label lblLogin">Género</label>
                        <select id="genero" class="form-control iptLogin">
                           <option value="" disabled selected>Seleccionar...</option>
                           <option value="Masculino">Masculino</option>
                           <option value="Femenino">Femenino</option>
                           <option value="No definido">No definido</option>
                        </select>
                     </div>
                     <div class="col-md-12 mb-2">
                        <label for="" class="form-label lblLogin">Dirección</label>
                        <input type="text" class="form-control iptLogin" id="direccion"  placeholder="Ingrese su dirección"/>
                     </div>
                     <div class="col-md-12 mb-2">
                        <label for="" class="form-label lblLogin">Teléfono</label>
                        <input type="text" class="form-control iptLogin" id="telefono"  placeholder="Ingrese su teléfono" maxlength="10"/>
                     </div>
                     <div class="col-md-12 mb-2">
                        <label for="" class="form-label lblLogin">Email</label>
                        <input type="text" class="form-control iptLogin" id="email"  placeholder="Ingrese su correo electrónico"/>
                     </div>
                  </div>
               </div>

               <div class="modal-footer d-flex justify-content-between align-items-center">
                  <button type="button" class="btn btn-outline-secondary btn-sm btnGeneral" data-bs-dismiss="modal">
                     <i class="fa-regular fa-circle-xmark"></i>
                     Close
                  </button>

                  <button type="button" class="btn btn-outline-danger btn-sm btnGeneral" onclick="createAccount();">
                     <i class="fa-regular fa-floppy-disk"></i>
                     Guardar
                  </button>
               </div>
            </div>
         </div>
      </div>

      <script>
         $(document).ready(function() {
            listUsers = $('#listUsers').DataTable({
               destroy: true,
               "ajax": {
                  "url": '/allUsers',
                  "dataSrc":""
               },
               "columns": [
                  {"data": null,
                        render: function ( data, type, row ) {
                           return row.cedula;
                        }
                  },
                  {"data": null,
                        render: function ( data, type, row ) {
                           return `${row.nombres} ${row.apellidos}`;
                        }
                  },
                  {"data": null,
                        render: function ( data, type, row ) {
                           return row.fechaNacimiento;
                        }
                  },
                  {"data": null,
                        render: function ( data, type, row ) {
                           return row.genero;
                        }
                  },
                  {"data": null,
                        render: function ( data, type, row ) {
                           return row.direccion;
                        }
                  },
                  {"data": null,
                        render: function ( data, type, row ) {
                           return row.telefono;
                        }
                  },                 
                  {"data": null,
                        render: function ( data, type, row ) {
                           return row.email;
                        }
                  },                 
                  {"data": null,
                        render: function ( data, type, row ) {
                           return `
                                 <center>
                                    <button type="button" class="btn btn-outline-danger btn-sm btnGeneral" onclick="deleteUser('${row._id}')">
                                       <i class="fa-regular fa-trash-can"></i>
                                    </button>
                                 </center>
                              `;
                        }
                  },
               ],
               responsive: true,
               language: idioma,
            });
         });

         var idioma = {
            "sProcessing":     "Procesando...",
            "sLengthMenu":     "Mostrar _MENU_ registros",
            "sZeroRecords":    "No se encontraron resultados",
            "sEmptyTable":     "Ningún dato disponible en esta tabla =(",
            "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix":    "",
            "sSearch":         "Buscar:",
            "sUrl":            "",
            "sInfoThousands":  ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
               "sFirst":    "Primero",
               "sLast":     "Último",
               "sNext":     "Siguiente",
               "sPrevious": "Anterior"
            },
            "oAria": {
               "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
               "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            },
            "buttons": {
               "copy": "Copiar",
               "colvis": "Visibilidad"
            }
         }

         const openModalRegister = () => {
            $('#cedula').val('');
            $('#apellidos').val('');
            $('#nombres').val('');
            $('#fechaNacimiento').val('');
            $('#genero').val('');
            $('#direccion').val('');
            $('#telefono').val('');
            $('#email').val('');

            $('#modalRegister').modal('show');
         }

         const createAccount = () => {
            cedula = $.trim($('#cedula').val());
            apellidos = $.trim($('#apellidos').val());
            nombres = $.trim($('#nombres').val());
            fechaNacimiento = $.trim($('#fechaNacimiento').val());
            genero = $.trim($('#genero').val());
            direccion = $.trim($('#direccion').val());
            telefono = $.trim($('#telefono').val());
            email = $.trim($('#email').val());
            
            Swal.fire({
               title: 'Registrar Cuenta!',
               html: `Deseas registrarte en el sistema Employes System.`,
               imageUrl: '/img/employes.png',
               imageWidth: 230,
               imageHeight: 150,
               imageAlt: 'Employes System',
               showCancelButton: true,
               confirmButtonColor: '#049947',
               cancelButtonColor: '#f34943',
               confirmButtonText: 'Sí, registrar!',
               cancelButtonText: 'No, cancelar!',
               reverseButtons: true,
               allowOutsideClick: false
            }).then((result) => {
               if (result.value == true) {
                  if (
                     cedula == '' || 
                     apellidos == '' || 
                     nombres == '' || 
                     fechaNacimiento == '' || 
                     genero == '' || 
                     direccion == '' || 
                     telefono == '' || 
                     email == ''
                  ) {
                     Swal.fire({
                        position: 'top-end',
                        imageUrl: '/img/employes.png',
                        imageWidth: 230,
                        imageHeight: 150,
                        imageAlt: 'Employes System',
                        title: 'CAMPOS VACÍOS',
                        html: `<p style="font-size: 1rem;">Los campos no pueden ir vacíos o con espacios.</p>`,
                        showConfirmButton: false,
                        timer: 1500
                     })
                  } else {
                     $.ajax({
                        url: "/registerUser",
                        type: "POST",
                        datatype: "json",
                        data: {
                           cedula,
                           apellidos,
                           nombres,
                           fechaNacimiento,
                           genero,
                           direccion,
                           telefono,
                           email
                        },
                     })
                     .done(function(res) {
                        if (res.res == 'true') {
                           Swal.fire({
                              title: res.tittle,
                              html: '<p style="font-size: 1rem;">'+res.description+'</p>',
                              imageUrl: '/img/employes.png',
                              imageWidth: 230,
                              imageHeight: 150,
                              imageAlt: 'Employes System',
                              allowOutsideClick: false
                           }).then((result) => {
                              if (result.value == true) {
                                 listUsers.ajax.reload(null, false);
                                 $('#modalRegister').modal('hide')
                              }
                           })
                        }
                        
                        if (res.res == 'false') {                           
                           Swal.fire({
                              title: res.tittle,
                              html: '<p style="font-size: 1rem;">'+res.description+'</p>',
                              icon: res.icon,
                              allowOutsideClick: false
                           })
                        }

                        if (res.res == 'error') {                           
                           Swal.fire({
                              title: res.tittle,
                              html: '<p style="font-size: 1rem;">'+res.description+'</p>',
                              icon: res.icon,
                              allowOutsideClick: false
                           })
                        }
                     })
                     .fail(function() {
                        console.log("Error");
                     });
                  }
               }
            })
         }
      
         const deleteUser = (id) => {
            ID = $.trim(id);
            
            Swal.fire({
               title: 'Eliminar Usuario!',
               html: `Deseas eliminar el usuario del sistema Employes System?`,
               imageUrl: '/img/employes.png',
               imageWidth: 230,
               imageHeight: 150,
               imageAlt: 'Employes System',
               showCancelButton: true,
               confirmButtonColor: '#049947',
               cancelButtonColor: '#f34943',
               confirmButtonText: 'Sí, eliminar!',
               cancelButtonText: 'No, cancelar!',
               reverseButtons: true,
               allowOutsideClick: false
            }).then((result) => {
               if (result.value == true) {
                  if (
                     ID === ''
                  ) {
                     Swal.fire({
                        position: 'top-end',
                        imageUrl: '/img/employes.png',
                        imageWidth: 230,
                        imageHeight: 150,
                        imageAlt: 'Employes System',
                        title: 'CAMPOS VACÍOS',
                        html: `<p style="font-size: 1rem;">Los campos no pueden ir vacíos o con espacios.</p>`,
                        showConfirmButton: false,
                        timer: 1500
                     })
                  } else {
                     $.ajax({
                        url: "/deleteUser",
                        type: "DELETE",
                        datatype: "json",
                        data: {
                           ID
                        },
                     })
                     .done(function(res) {
                        if (res.res == 'true') {
                           Swal.fire({
                              title: res.tittle,
                              html: '<p style="font-size: 1rem;">'+res.description+'</p>',
                              imageUrl: '/img/employes.png',
                              imageWidth: 230,
                              imageHeight: 150,
                              imageAlt: 'Employes System',
                              allowOutsideClick: false
                           }).then((result) => {
                              if (result.value == true) {
                                 listUsers.ajax.reload(null, false);
                              }
                           })
                        }
                        
                        if (res.res == 'false') {                           
                           Swal.fire({
                              title: res.tittle,
                              html: '<p style="font-size: 1rem;">'+res.description+'</p>',
                              icon: res.icon,
                              allowOutsideClick: false
                           })
                        }

                        if (res.res == 'error') {                           
                           Swal.fire({
                              title: res.tittle,
                              html: '<p style="font-size: 1rem;">'+res.description+'</p>',
                              icon: res.icon,
                              allowOutsideClick: false
                           })
                        }
                     })
                     .fail(function() {
                        console.log("Error");
                     });
                  }
               }
            })
         }
      
      </script>