      <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css">
      <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css" type="text/css">
      <link rel="stylesheet" href="/datatable/datatables.min.css" type="text/css">
      <link rel="stylesheet" href="/datatable/DataTables/css/dataTables.bootstrap5.min.css" type="text/css">
      <link rel="stylesheet" href="/css/navbar.min.css" type="text/css">
      <link rel="stylesheet" href="/css/landing.min.css" type="text/css">

   </head>

	<body>
      {{> navbar}}

      <div class="container">
         <div class="row">
            <div class="col-md-8 mx-auto">
               {{> notifications}}
            </div>
         </div>
      </div>
      
      <div class="showcase-area">
         <div class="containerLan">
            <div class="left">
               <div class="big-title">
                  Bienvenido
               </div>
               <p class="text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, possimus neque! Minima delectus assumenda error nulla ad animi illum iste cupiditate maiores odit impedit ratione hic in necessitatibus, voluptatum ullam!
               </p>
               <p class="equotes">
                  -CharlsDEV
               </p>
            </div>
      
            <div class="right">
               <img src="img/employes.png" alt="Person Image" class="person" />
            </div>
         </div>
      </div>

      <script src="/jquery/jquery.min.js"></script>
      <script src="/bootstrap/js/popper.min.js"></script>
      <script src="/bootstrap/js/bootstrap.min.js"></script>
      <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/sweetalert2/sweetalert2.min.js"></script>
      <script src="/fontawesome/all.min.js"></script>
      <script src="/datatable/datatables.min.js"></script>
      <script src="/datatable/DataTables/js/jquery.dataTables.js"></script>
      <script src="/datatable/DataTables/js/dataTables.bootstrap5.min.js"></script>

      <script src="/js/navbar.min.js"></script>

      <script>
         {{> notifications}}
      </script>