<header>
   <div class="containerNav">
      <a href="/welcome" class="logo">
         <span>Employes</span> System
      </a>

      <nav class="site-nav">
         <ul>
            <li>
               <a href="/users">
                  <i class="fa-solid fa-user-tie site-nav--icon"></i>
                  Usuarios
               </a>
            </li>

            <li>
               <a href="/companies">
                  <i class="fa-regular fa-building site-nav--icon"></i>
                  Compañias
               </a>
            </li>

            <li>
               <a href="/employes">
                  <i class="fa-solid fa-people-roof site-nav--icon"></i>
                  Empleados
               </a>
            </li>

            <li>
               <a href="/payments">
                  <i class="fa-regular fa-money-bill-1 site-nav--icon"></i>
                  Pagos
               </a>
            </li>

            <li>
               <a href="/exit">
                  <i class="fa-solid fa-arrow-right-from-bracket site-nav--icon"></i>
                  Cerrar Sesión
               </a>
            </li>
         </ul>
      </nav>

      <div class="menu-toggle">
         <div class="hamburger"></div>
      </div>
   </div>
</header>