<header>
   <div class="containerNav">
      <h1 class="logo"><span>Employes</span> System</h1>

      <nav class="site-nav">
         <ul>
            <li>
               <a href="/welcome">
                  <i class="fa fa-home site-nav--icon"></i>
                  Inicio
               </a>
            </li>

            <li>
               <a href="/users">
                  <i class="fa-regular fa-user site-nav--icon"></i>
                  Usuarios
               </a>
            </li>

            <li>
               <a href="/employes">
                  <i class="fa-brands fa-creative-commons-share site-nav--icon"></i>
                  Empleados
               </a>
            </li>
         </ul>
      </nav>

      <div class="menu-toggle">
         <div class="hamburger"></div>
      </div>
   </div>
</header>