<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta name="theme-color" content="#35b8e0"/>
      <meta name="author" content="Carlos VP (CharlsDEV)"/>
      <meta name="copyright" content="Copyright (c) 2022 - InnovaTech'S"/>
      <meta name="description" content="Employes System"/>
      <meta name="keywords" content="Sistema de almacenamiento de empleados"/>
      
      <title>Employes System</title>
      
      <link rel="shortcut icon" href="/img/employes.ico" type="image/x-icon">

      <link rel="stylesheet" href="/css/general.min.css">
      <link rel="stylesheet" href="/css/allColors.min.css" type="text/css">

      {{{body}}}

      <script>         
         console.log("%c%s", "color: red; background: #38ef7d; font-size: 25px; font-weight: 600; padding: 3px 20px;", "ESTÁS SIENDO HACKEADO 🐸!");

      </script>

   </body>
</html>